.sidebar {
    width: 12%;
    height: 100vh;
    background-color: rgb(217, 228, 233);
    /* font-size: 12px; */
}

.sidebar img {
    width: 100%;
    padding: 10%;
}

.sidebar p {
    margin-top: -10%;
    margin-bottom: 3%;
}

ul {
    list-style-type: none;
    margin-left: -15%;
    ;
}

a {
    text-decoration: none;
}
.gear {
    display: inline;
    float: right;
    color: rgb(134, 121, 121);
}

